<!--
  Part of the Crubit project, under the Apache License v2.0 with LLVM
  Exceptions. See /LICENSE for license information.
  SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
-->

<header>
  <h1>Crubit Explorer</h1>
  <div class="toolbar">
    <label>
      <span class="toolbar-plugin">Tool:</span>
      <select [disabled]="true">
        <option>cc_bindings_from_rs</option>
      </select>
    </label>
  </div>
</header>

<main>
  <div class="pane">
    <div class="tab-bar">
      <div class="app-tabs">
        <div class="tab selected">
          <span>input.rs</span>
        </div>
      </div>
    </div>
    <div #inputEditorContainer style="flex-grow: 1; position: relative;"></div>
  </div>

  <div class="resizer"></div>

  <div class="pane">
    <div class="tab-bar">
      <div class="app-tabs">
        <ng-container *ngIf="outputFiles.length > 0; else defaultTab">
          <div *ngFor="let file of outputFiles; let i = index"
               class="tab"
               [class.selected]="selectedOutputFileIndex === i"
               (click)="selectOutputFile(i)">
            <span>{{ file.name }}</span>
          </div>
        </ng-container>
        <ng-template #defaultTab>
          <div class="tab selected">
            <span>bindings.h</span>
          </div>
        </ng-template>
      </div>
    </div>
    <div #outputEditorContainer style="flex-grow: 1; position: relative;"></div>
  </div>
</main>
