# Part of the Crubit project, under the Apache License v2.0 with LLVM
# Exceptions. See /LICENSE for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
name: Cargo

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

# LINT.IfChange
jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Test
      run: cargo test --verbose --workspace --exclude 'rs_bindings_from_cc*' --exclude '*_sys' --no-fail-fast
# LINT.ThenChange(//depot/copy.bara.sky)
